body {
  font-family: Arial, sans-serif;
  background-color: #555454;
  color: #ffffff;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: #007bff;
}

.btn:hover {
  background-color: #0056b3;
}

#autor {
  display: block;
  margin-top: 20px;
}